<div class='container'>
    <div class="left-side">
        <card-search (onCardSelected)="onCardSelected($event)"></card-search>
        <cards-generator (onGenerateCards)="onGenerateCards($event)"></cards-generator>
    </div>
    <div class="right-side">
        <player-board [cards]="enemyPlayerBoardCards" (onClearBoard)="onClearBoard($event)"  [targetCards]="0" [isEnemy]="true" ></player-board>
        <player-board [cards]="playerBoardCards" (onClearBoard)="onClearBoard($event)"  [targetCards]="1" ></player-board>
        <player-hand [cards]="playerHandCards" [targetCards]="2" (onCardPlayed)="onCardPlayed($event)"></player-hand>
    </div>
</div>

<!-- -->