body{
  padding:0;
  margin:0;
  background-color: #000000;
  color:#fff;
}

textarea, input, button { outline: none; }

.container{  
  width:1280px;
  height: 720px;
  position: relative;  
  margin-left:auto;
  margin-right:auto;
  background-image: url('app/img/board_uldaman.png');
  background-size: 100%;
}

.left-side,.right-side,.pull-left{
  float:left;
}

.left-side{
  width:185px;
  display: inline-block;
}

.right-side{
  position: relative;
  width:1095px;
  height: 100%;
  overflow:hidden;
}

.player-hand-container{
  position: absolute;
  bottom:0;
  left:0px;
  height: 120px;
  width:920px;
  text-align: center;
}


.player-hand-container li{
  max-width: 100px;
   margin-left:-40px;
  display: inline-block;
}

.player-hand-container li:first-child{ 
   margin-left:0px;
}

.player-hand-container img{
  width:100%
}

/* player board */

.player-board-container{
  position: absolute;
  bottom:250px;
  left:100px;
  height: 120px;
  width:670px;
  text-align: center;
  background-color: rgba(0,0,0, 0.4)
}

.player-board-container.enemy{
bottom:380px;
}


.suggestions{ 
  width:175px;
  height: 525px;
  background-image: url('app/img/card-selector.png');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 0px;
}

.suggestions li span{
  display: none;
}


.card-search{
  position: relative; 
  margin-top: 100px;

   background-image: url('app/img/bg-search-box.png');
  background-size: 100%;
   
  background-repeat: no-repeat;
 
}

.card-search input{
  border:none;
  background-color: transparent;
  padding-left:15px;  
  height: 32px;
  color:#F4C2A1;

}

.card-search ul{
  position: absolute;
  padding-left:15px;
  margin-top:40px;
  z-index: 10;
  overflow-y: hidden;
  height: 440px;

}

.card-search img{
  max-width: 120px;
}

.card-container ul{
  clear: both;
}

li,ul{
  list-style: none;
  padding:0;
  margin:0; 
}


.card-container li{  
  float:left;
}

.highlighted{
  background-color: #cecece;
}

.tooltip{  
  position: absolute;
  bottom:140px;
  left:0px;
  height: 216px;
  width:920px;
  text-align: center;
}

.tooltip div{
  display: inline-block;  
}
.tooltip img{
  max-width: 150px; 
  display: block;
}




