.wire .container,.wire .card-search,.wire .suggestions{  
      background-image: none;
      box-sizing: content-box;
      border:solid 1px white;
}

.wire .player-hand-container li,.wire .suggestions li ,.wire .tooltip div {
      border:solid 1px white;
}

.wire .player-hand-container img,.wire .suggestions img,.wire .tooltip img {
    visibility: hidden;
}

.wire .suggestions li span{
      display: block;
      color:white;
}

